In [2]:
import pandas as pd

df = pd.read_csv("everydayLife_original_dataset.csv")

def export_csv(df):
    df.to_csv("everydayLife_cleaned_dataset.csv", index=False)

In [3]:
df.head()

,type,geometry/type,geometry/coordinates/0,geometry/coordinates/1,properties/attribute_id,properties/label_type,properties/neighborhood,properties/severity,properties/is_temporary
0,Feature,Point,-122.298981,47.594616,52096165,SurfaceProblem,Atlantic,4.0,False
1,Feature,Point,-122.301071,47.593357,52096166,SurfaceProblem,Atlantic,3.0,False
2,Feature,Point,-122.301079,47.596844,52096167,SurfaceProblem,Atlantic,4.0,False
3,Feature,Point,-122.301071,47.596500,52096168,SurfaceProblem,Atlantic,4.0,False
4,Feature,Point,-122.306274,47.599930,52096365,NoCurbRamp,Atlantic,4.0,False

In [4]:
df.describe()

,geometry/coordinates/0,geometry/coordinates/1,properties/attribute_id,properties/severity
count,81973.000000,81973.000000,8.197300e+04,79722.000000
mean,-122.332226,47.631158,5.207014e+07,2.807531
std,0.037651,0.051508,1.984812e+05,1.312686
min,-122.418427,47.495449,4.824752e+07,1.000000
25%,-122.360863,47.590382,5.207874e+07,2.000000
50%,-122.327072,47.638321,5.210622e+07,3.000000
75%,-122.302139,47.672363,5.214016e+07,4.000000
max,-122.238960,47.734531,5.216889e+07,5.000000

In [5]:
df.isna().mean()

type                       0.00000
geometry/type              0.00000
geometry/coordinates/0     0.00000
geometry/coordinates/1     0.00000
properties/attribute_id    0.00000
properties/label_type      0.00000
properties/neighborhood    0.00000
properties/severity        0.02746
properties/is_temporary    0.00000
dtype: float64

In [ ]:
df["properties/severity"] = df["properties/severity"].fillna(df["properties/severity"].median())

# export_csv(df)